body {
    margin: 0;
    overflow: hidden;
}

#background {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: navy;
    overflow: hidden;
}

#countdown {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    color: red;
    
}

#title {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: green;
}

#colosseo {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 80%;
    scale: 80%;
}

#erci {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    transform-origin: left bottom;
    transition: max-width 1s ease;
    animation: rotateErci 2s linear infinite; /* L'animazione dura 5 secondi e si ripete all'infinito */
    transform-origin: center;
}

@keyframes rotateErci {
    0% {
        transform: rotate(0deg); /* Nessuna traslazione o rotazione iniziale */
    }
    100% {
        transform: rotate(360deg); /* Rotazione completa (una rotazione completa) senza traslazione */
    }
}
