body {
    margin: 0;
    overflow: hidden;
}

#background {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: navy;
    overflow: hidden;
}

#countdown {
    position: absolute;
    transform-origin: top;
    left: 30%;
    top: 300px;
    font-size: 24px;
    color: red;
    z-index: 100
    
}

#title {
    position: absolute;
    /*top: 400px; */
    left: 30%; 
    transform-origin: top;
    font-size: 26px;
    color: rgb(9, 194, 9);
    z-index: 100
}

#colosseo {
    position: absolute;
    transform-origin: right top;
    top: 0;
    right: 0;
    max-height: 80%;
    scale: 30%;
    z-index: 1; /* Imposta un valore z-index inferiore per l'immagine del Colosseo */
}

#erci {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    scale: 60%;
    transform-origin: left bottom;
    transition: max-width 1s ease;
    animation: rotateErci 2s linear infinite; /* L'animazione dura 5 secondi e si ripete all'infinito */
    transform-origin: center;
}

@keyframes rotateErci {
    0% {
        transform: rotate(0deg); /* Nessuna traslazione o rotazione iniziale */
    }
    100% {
        transform: rotate(360deg); /* Rotazione completa (una rotazione completa) senza traslazione */
    }
}
